


.container{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.item{
    height: 100px;
    width: 100%;
    background-color: blueviolet;
}

/* .item2{
    grid-column: 2 / 4;
} */