*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 800px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    margin: 20px auto;
    display: grid;
    grid-template-columns: 200px;
    gap: 10px;
}

.item1{
    background-color: lightcoral;
    box-shadow: 3px 3px 10px grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item2{
    grid-column: 2/4;
    grid-row: 1/4;
    background-color: blueviolet;
    box-shadow: 3px 3px 10px grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item3{
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: lightgreen;
    box-shadow: 3px 3px 10px grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item4{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: yellow;
    box-shadow: 3px 3px 10px grey;
    display: flex;
    align-items: center;
    justify-content: center;
}