*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    color: white;
    background-color: aquamarine;
    overflow: hidden;
}

header{
    background: linear-gradient(270deg,rgba(0, 0, 0, 0.705), black), url(banner_overlay.png) center no-repeat;
    height: 100vh;
}
.navbar{
    max-width: 1080px;
    padding-top: 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    animation: 1s toptobottom ease;
    transition: 1s;
    position: relative;
}


@keyframes toptobottom {
    from{
        top: -80px;
    }
    to{
        top: 0;
    }
}
.navbar a{
    color: white;
}
nav{
    display: flex;
    gap: 15px;
}

.hero{
    max-width: 1080px;
    margin: auto;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-center{
    position: relative;
    animation: 1s lefttoright ease;
    transition: 1s;
}

@keyframes lefttoright {
    from{
        left: -300px;
    }
    to{
        left: 0;
    }
}
button{
    margin-top: 20px;
    padding: 10px 30px;
    border: none;
    background-color: white;
    color: black;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 17px;
    display: flex;
    align-items: center;
    transition: .9s;
    cursor: pointer;
}
.arrow{
    font-size: 20px;
    margin-left: 10px;
    transition: .9s;
}
/* button:hover{
    padding: 10px 60px;
} */
button:hover .arrow{
    margin-left: 50px;
}



h1{
    position: relative;
}
.span{
    position: absolute;
    font-size: 10px;
    top: 7px;
    right: -20px;
    color: rgb(240, 58, 58);
}
.hero-bottom{
    position: absolute;
    bottom: 50px;   
    animation: 1s bottomtotop ease;
    overflow: hidden !important;
}

@keyframes bottomtotop {
    from{
        bottom: -0.1px;
    }
    to{
        bottom: 50px;
    }
}
